*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


# Android
.gradle/
local.properties
*.iml
.idea/

# Build
build/
*/build/

# APK / AAB
*.apk
*.aab

# Logs
*.log
.kotlin/

# Keys (VERY IMPORTANT)
jks/
*.jks

# OS
.DS_Store
Thumbs.db
